<div class="container">
  <div class="row">
    <!-- 左側: ユーザー情報リスト -->
    <div class="col-md-3">
      <%= render 'list', user: current_user %>
    </div>

    <!-- 右側: Users -->
    <div class="col-md-8 offset-md-1">
      <h1>Users</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <% if user.image.present? %>
                  <%= image_tag user.image, class: "img-thumbnail", size: "100x100" %>
                <% else %>
                  <div class="no-image-placeholder">NO IMAGE</div>
                <% end %>
              </td>
              <td><%= user.name %></td>
              <td><%= link_to 'Show', user_path(user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
